<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itrip.dao.ItripUserLinkUserMapper">

    <select id="getItripUserLinkUserById" resultType="cn.itrip.beans.pojo.ItripUserLinkUser" >
        select
            id as id , 
            linkUserName as linkusername , 
            linkIdCard as linkidcard , 
            linkPhone as linkphone , 
            userId as userid , 
            creationDate as creationdate , 
            createdBy as createdby , 
            modifyDate as modifydate , 
            modifiedBy as modifiedby , 
            linkIdCardType as linkidcardtype 
        from itrip_user_link_user
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getItripUserLinkUserListByMap" resultType="cn.itrip.beans.pojo.ItripUserLinkUser"
            parameterType="java.util.Map">
        select
            id as id , 
            linkUserName as linkusername , 
            linkIdCard as linkidcard , 
            linkPhone as linkphone , 
            userId as userid , 
            creationDate as creationdate , 
            createdBy as createdby , 
            modifyDate as modifydate , 
            modifiedBy as modifiedby , 
            linkIdCardType as linkidcardtype 
        from itrip_user_link_user
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="linkusername != null and linkusername!=''">
                    and linkUserName=#{linkusername}
                </if>
                <if test="linkidcard != null and linkidcard!=''">
                    and linkIdCard=#{linkidcard}
                </if>
                <if test="linkphone != null and linkphone!=''">
                    and linkPhone=#{linkphone}
                </if>
                <if test="userid != null and userid!=''">
                    and userId=#{userid}
                </if>
                <if test="creationdate != null and creationdate!=''">
                    and creationDate=#{creationdate}
                </if>
                <if test="createdby != null and createdby!=''">
                    and createdBy=#{createdby}
                </if>
                <if test="modifydate != null and modifydate!=''">
                    and modifyDate=#{modifydate}
                </if>
                <if test="modifiedby != null and modifiedby!=''">
                    and modifiedBy=#{modifiedby}
                </if>
                <if test="linkidcardtype != null and linkidcardtype!=''">
                    and linkIdCardType=#{linkidcardtype}
                </if>
        </trim>
        order by creationDate desc
        <if test="beginPos != null and beginPos!='' and pageSize != null  and pageSize !='' ">
            limit #{beginPos}, #{pageSize}
        </if>
    </select>

    <select id="getItripUserLinkUserCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from itrip_user_link_user
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="linkusername != null and linkusername!=''">
                    and linkUserName=#{linkusername}
                </if>
                <if test="linkidcard != null and linkidcard!=''">
                    and linkIdCard=#{linkidcard}
                </if>
                <if test="linkphone != null and linkphone!=''">
                    and linkPhone=#{linkphone}
                </if>
                <if test="userid != null and userid!=''">
                    and userId=#{userid}
                </if>
                <if test="creationdate != null and creationdate!=''">
                    and creationDate=#{creationdate}
                </if>
                <if test="createdby != null and createdby!=''">
                    and createdBy=#{createdby}
                </if>
                <if test="modifydate != null and modifydate!=''">
                    and modifyDate=#{modifydate}
                </if>
                <if test="modifiedby != null and modifiedby!=''">
                    and modifiedBy=#{modifiedby}
                </if>
                <if test="linkidcardtype != null and linkidcardtype!=''">
                    and linkIdCardType=#{linkidcardtype}
                </if>
        </trim>
    </select>

    <insert id="insertItripUserLinkUser" parameterType="cn.itrip.beans.pojo.ItripUserLinkUser">
        insert into itrip_user_link_user(
            id , 
            linkUserName , 
            linkIdCard , 
            linkPhone , 
            userId , 
            creationDate , 
            createdBy , 
            modifyDate , 
            modifiedBy , 
            linkIdCardType 
        )
        values(
            #{id} , 
            #{linkusername} , 
            #{linkidcard} , 
            #{linkphone} , 
            #{userid} , 
            #{creationdate} , 
            #{createdby} , 
            #{modifydate} , 
            #{modifiedby} , 
            #{linkidcardtype} 
        )
    </insert>

    <update id="updateItripUserLinkUser" parameterType="cn.itrip.beans.pojo.ItripUserLinkUser">
        update itrip_user_link_user
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="id != null and id!=''">
                id=#{id},
            </if>
            <if test="linkusername != null and linkusername!=''">
                linkUserName=#{linkusername},
            </if>
            <if test="linkidcard != null and linkidcard!=''">
                linkIdCard=#{linkidcard},
            </if>
            <if test="linkphone != null and linkphone!=''">
                linkPhone=#{linkphone},
            </if>
            <if test="userid != null and userid!=''">
                userId=#{userid},
            </if>
            <if test="creationdate != null and creationdate!=''">
                creationDate=#{creationdate},
            </if>
            <if test="createdby != null and createdby!=''">
                createdBy=#{createdby},
            </if>
            <if test="modifydate != null and modifydate!=''">
                modifyDate=#{modifydate},
            </if>
            <if test="modifiedby != null and modifiedby!=''">
                modifiedBy=#{modifiedby},
            </if>
            <if test="linkidcardtype != null and linkidcardtype!=''">
                linkIdCardType=#{linkidcardtype},
            </if>
        </trim>
    </update>

    <delete id="deleteItripUserLinkUserById" parameterType="Long">
        delete from itrip_user_link_user where id = #{id}
    </delete>
</mapper>